.venv/
venv/
env/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.coverage
htmlcov/
.pytest_cache/
*.log
logs/
.DS_Store
test1.txt
test2.txt

# private configs
private_config.json
**/private_config.json